body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0f3;
}

.container {
    width: 90%; /* Increase width on smaller screens */
    max-width: 400px; /* Prevent too wide on larger screens */
    padding: 30px; /* Reduce padding */
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
        -12px -12px 20px #ffffff;
}

.display #screen {
    width: 100%;
    height: 60px;
    font-size: 28px; /* Adjust font size */
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5em;
    background: #ecf0f3;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #ffffff;
}

.btns {
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btns .row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btns .row button {
    width: 22%; /* Make buttons responsive */
    max-width: 80px;
    height: 50px; /* Increase height for better touch usability */
    font-size: 18px; /* Increase font size */
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 5px 5px 8px #00000020,
        -5px -5px 8px #ffffff;
}

/* Special Buttons */
#eval {
    background: #33cc33;
    color: #fff;
    box-shadow: inset 5px 5px 8px #2eb82e,
        inset -5px -5px 8px #33cc33;
}

#eval:hover {
    box-shadow: inset 5px 5px 8px #2eb82e,
        inset -5px -5px 8px #33cc33;
}

#ac {
    background: #33ccff;
    color: #fff;
}

#ac:hover {
    box-shadow: inset 5px 5px 8px #00ace6,
        inset -5px -5px 8px #00ace6;
}

#ce {
    background: #ff3399;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #e60073,
        inset -5px -5px 8px #ff3399;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .display #screen {
        height: 50px;
        font-size: 24px;
    }

    .btns .row button {
        width: 22%;
        max-width: 60px; /* Reduce button size on smaller screens */
        height: 45px;
        font-size: 16px;
    }
}
